<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="markus.wieland.dvbfahrplan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DVBFahrplan">
        <activity android:name=".ui.trip.TripActivity" />
        <activity android:name=".ui.routes.route.RouteDetailActivity" />
        <activity android:name=".ui.routes.RouteActivity" />
        <activity android:name=".ui.departures.DepartureActivity" />
        <activity android:name=".ShowMapActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>